body {
    margin: 0;
    padding: 0;
    background-image: url('c:\Users\aamru\AppData\Local\Temp\cyberpunk-2077-geforce-rtx-30-series-exclusive-screenshot-003.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  